$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$color-grey: rgba(0, 0, 0, 0.712);
$bg-color-grey: #f2f2f2be;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;